In [12]:
import numpy as np
import pandas as pd

In [13]:
df = pd.read_csv('tmdb_5000_credits.csv')
df.head()

,movie_id,title,cast,crew
0,19995,Avatar,"[{""cast_id"": 242, ""character"": ""Jake Sully"", ""...","[{""credit_id"": ""52fe48009251416c750aca23"", ""de..."
1,285,Pirates of the Caribbean: At World's End,"[{""cast_id"": 4, ""character"": ""Captain Jack Spa...","[{""credit_id"": ""52fe4232c3a36847f800b579"", ""de..."
2,206647,Spectre,"[{""cast_id"": 1, ""character"": ""James Bond"", ""cr...","[{""credit_id"": ""54805967c3a36829b5002c41"", ""de..."
3,49026,The Dark Knight Rises,"[{""cast_id"": 2, ""character"": ""Bruce Wayne / Ba...","[{""credit_id"": ""52fe4781c3a36847f81398c3"", ""de..."
4,49529,John Carter,"[{""cast_id"": 5, ""character"": ""John Carter"", ""c...","[{""credit_id"": ""52fe479ac3a36847f813eaa3"", ""de..."

In [14]:
import ast

In [15]:
def convert(text):
    L = []
    for i in ast.literal_eval(text):
        L.append(i["name"])
    return L

In [16]:
df["cast"] = df["cast"].apply(convert)

In [17]:
def fetch_director(text):
    L=[]
    for i in ast.literal_eval(text):
        if i["job"]=="Director":
            L.append(i["name"])
    return L

In [18]:
df["crew"]=df["crew"].apply(fetch_director)

In [19]:
df["tag"]=df["cast"]+df["crew"]

In [20]:
df=df.drop(columns=["cast","crew"])

In [21]:
df["tag"]=df["tag"].apply(lambda x:"  ".join(x))

In [22]:
from sklearn.feature_extraction.text import CountVectorizer
cv = CountVectorizer(max_features=5000,stop_words='english')

In [23]:
vector = cv.fit_transform(df['tag']).toarray()

In [24]:
from sklearn.metrics.pairwise import cosine_similarity
similarity = cosine_similarity(vector)

In [27]:
def recommend(movie):
    index = df[df['title'] == movie].index[0]
    distances = sorted(list(enumerate(similarity[index])),reverse=True,key = lambda x: x[1])
    for i in distances[1:6]:
        print(df.iloc[i[0]].title)

In [31]:
recommend('Superman')

The Greatest Story Ever Told
Gandhi
The Departed
The Fifth Element
Hoffa